<p>Cash Flow Nexus</p>

<% if user_signed_in?%>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>

<%else%>
  <h1><%= @currentUser%> welcome Guest..</h1>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
